/* CSS Style Sheet */

body{
    background-color: #ffffff;
    text-decoration: none;
    color:  #07090f;
    
}


#header{
    text-align: center;
    background-color: darkgrey;
    color: #eaf2f2; 
}


.container-fluid{
    width: 75%;
    background-color: #c6a995; 
}
img{
    width: 100%;
    height: auto;
    border-color: #c6a995;
    border-radius: 10px;
}
.content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #c6a995;
    border-radius: 10px;
    margin: 20px;
    opacity: .91;
}




