/* CSS Style Sheet */

body{
    background-color: ghostwhite;
    text-decoration: none;
}

a:hover{
    color: #597eff;

}
#header{
    text-align: center;
    background-color:darkgrey;
    color: darkslategray;
    
}

