@model IEnumerable<Art.Models.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtWork.ARTWORKTITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GENRENAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtWork.ARTWORKTITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GENRENAME)
        </td>
        
    </tr>
}

</table>
