@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
   
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a Bid!</h2>
        <!--Button link to Metric Converter-->
        <p><a class="btn btn-default" @Html.ActionLink("Bid", "Create", "Bids")/></p>
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
       
    </div>
</div>