@model IEnumerable<Art.Models.Genre>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is a website about information about artists, their artwork, and their origins</p>
</div>

<h2>Genres</h2>

    @foreach (var genre in Model)
    {
        <button class="btn btn-default" onclick="ajax_call(@genre.GENREID)">@genre.GENRENAME</button>
    }

<div class="row">
    <div class="col-md-6">
        <table class="table" id="output">
            <thead>
            <tr>
                <th>Artist</th>
                <th>Artwork</th>
            </tr>

            <tbody></tbody>
        </table>


    </div>
</div>


@section PageScript{

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        function ajax_call(id) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/Home/GenreResult/' + id,
                data: { id: id },
                success: displayResults,
                error: errorOnAjax


            });
        }


        function displayResults(data) {

            $('#output').find('tbody').empty();

            data.forEach(function(item) {

                $('#output').find('tbody').append("<tr><td>"+item["ARTISTNAME"]+"</td><td>"+item["ARTWORKTITLE"]+"</td></tr>");

            });
            console.log(data);
        };

        function errorOnAjax() {
            console.log("Ajax Error");
        };

    

    </script>



}